

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    display: flex;
    
    background-color: rgb(68, 151, 184);
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
}


.container {
  background-color: rgb(213, 249, 255);
  margin: 50px;
  border: 2px solid black;
  width: 50vh;
  padding: 15px;
}

.container h1 {
  text-align: center;
}

.rb {
  animation-name: rainbow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  
}


@keyframes rainbow {
  0% {color: red;}
  16% {color: orange;}
  33% {color: yellow;}
  50% {color: green;}
  66% {color: blue;}
  83% {color: purple;}
  100% {color: red;}
}