body {
    background-color: rgb(25, 64, 56);
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; 
}

.main {
    align-items: center;
    display: flex;
}

.hden1 {
    height: 100px;
    width: 200px;
    border-radius: 5px;
    background-color: rgb(31, 82, 72);
    text-align: center;
    margin: 10px;
    padding: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    
}

.Second {
    position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%); 
    text-align: center;
    margin-top: 100px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: large;
}

.icons {
    position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%); 
    filter: brightness(9000);
}
