@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;     
    background-color: bisque;
     font-family: "Roboto"; 
}
.ctn {
    width: 65vw;         
    aspect-ratio: 4 / 3;
    max-width: 1200px;
    max-height: 900px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;

    margin: 10px;
}
        


.warn {
    border: 5px solid rgb(180, 180, 0);
    background-color: rgb(206, 206, 0);
    padding: 3px;
    margin: 2px;
    border-radius: 12px;
    display: none;
}